@font-face {
    font-family: 'Titulo';
    src: url('../fonts/Vermina.ttf') format('truetype');
    }
@font-face {
    font-family: 'Texto';
    src: url('../fonts/Agrandir-WideLight.otf') format('opentype');
    }
:root {
    --cor-azul-escuro: #91C1D2; 
    --cor-azul-claro: #C4DDE8;
    --cor-marrom-claro: #D49244;
    --cor-marrom-intermediario: #A65209;
    --cor-marrom-escuro: #7B410E;
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}
section{
    background-color: var(--cor-azul-claro);
    color: var(--cor-marrom-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 150px;
}
.imagem {
    width: 380px;
    border-radius: 40px;
  }
.texto {
    font-size: 1.1em;
    line-height: 1.8;
    min-width: 250px;
    font-family: 'Texto';
}
.video{
    width: 1280px;
    height: 720px;
}
